---
---

@import "{{ site.theme }}";

a.linkedin { background: none no-repeat 0px; padding: 2px}
a.email { background: none no-repeat 0px; padding: 2px}
a.email span, a.linkedin span { padding-left: 8px }
ul.post-list {list-style: none;}
.giscus { width: 100%; float: right; padding-bottom: 50px; }
@media print, screen and (max-width: 960px) {
 .giscus { padding-top: 60px; }
}
